.btnOut{
    color: #e36617 !important;
    border-color: #e36617;
}
.btnNaranja{
    background-color: #e36617;
    border-color: #e36617;
    color: white !important;
}
.btn:focus, .btn:active, input:focus, select:focus, select, input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-decoration:none !important;
}
.btn a {
    text-decoration: none !important;
}
.btn1 a {
    color: #e36617 !important;
    text-decoration: none !important;
}