
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RetroShoes - @ViewData["Title"]</title>

    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="imagenes/favicon.png" type="image/x-icon">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" asp-append-version="true">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" asp-append-version="true">
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet' asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/Lightslider/lightslider.css">
    <link rel="shortcut icon" href="~/imagenes/favicon.png" type="image/x-icon" asp-append-version="true">

    <style type="text/css">
       body,html { max-height: 100%;
            overflow-x: hidden;
            overflow-y: hidden
        }
    </style>
  </head>
  <body>

    @RenderBody();



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <!--Jquery-------------------->
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <!--lightslider.js--------------->
    <script type="text/javascript" src="~/Lightslider/lightslider.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="./node_modules/bootstrap-show-notification/src/bootstrap-show-notification.js"></script>
    @*<script src="~/js/myscript.js" asp-append-version="true" ></script>*@
    <script src="~/js/notifications.js" ></script>
    @await RenderSectionAsync("Scripts", required: false)
    
  </body>
</html>
